# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cs     text
*.shader text
*.txt    text
*.json   text
*.xml    text
*.asset  text
*.meta   text
*.unity  text

# Denote all files that are truly binary and should not be modified.
*.png    binary
*.jpg    binary
*.fbx    binary
*.dll    binary
*.exe    binary
